<main class="splash_screen">
<div class="app_name">  
<h1>Snapscan</h1>
</div>  
  <div class="button-container">
  <%= button_to "LOG IN", new_user_session_path, class:'button blue-button' %>
    <%= button_to "SIGN UP", new_user_registration_path, class:'button white-button' %>
  </div>
</main>