<main class="splash-screen">
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>  
<div class="app-name">
    <h1>Snapscan</h1>
  </div>  
      <div class="buttons-container">
        <button class="blue-btn">
          <%= link_to 'LOG IN', new_user_session_path %>
        </button>
        <button class="white-btn">
          <%= link_to'SIGN UP', new_user_registration_path %>
        </button>
        </div>
</main>
