@import url("https://fonts.googleapis.com/css2?family=Proxima+Nova");

:root {
  --main-color: #3778c2;
  --second-color: #5fb523;
  --grey-1: #434b54;
  --grey-2: #5e636e;
  --grey-3: #8f96a3;
}

* {
  font-family: "proxima-nova", sans-serif;
  color: var(--grey-1);
  margin: 0;
  padding: 0;
}

.app_name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  margin: 0;
}

h1 {
  font-size: 32px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  padding: 20px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 90vw;
}

.blue-button {
  background-color: var(--main-color);
  color: white;
}

.white-button {
  background-color: white;
  color: var(--grey-2);
}
